{% load static %}
<header>
    <nav>
        <a href="{% url 'url_index' %}">Home</a>
        <a href="{% url 'pages' page='posts' %}">All Posts</a>
        <a href="{% url 'pages' page='categories' %}">Categories</a>
        <a href="{% url 'pages' page='tags' %}">Tags</a>
        <a href="{% url 'pages' page='about' %}">About Us</a>
        <a href="{% url 'pages' page='contact' %}">Contact Us</a>
    </nav>
</header>
<img class='header-img' src="{% static 'files/main.jpg' %}" alt="main_page">
