h1 {
    text-align: center;
    text-underline-offset: 1px solid;
}

.p-about p,
.p-posts {
    padding: 0 120px;
    width: 80%;
}

.div-contact {
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover,
a:active {
    color: #2a70ca;
}

ul {
    list-style: none;
    padding: 5px 0;
}

.pagination {
    padding: 1rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
}

.pagination li {
    background: cornflowerblue;
    padding: 3px 8px;
    border-radius: 4px;
}

.pagination li a:hover {
    color: white;
}

li {
    display: inline-block;
    margin-left: 5px;
}

#top-cats {
    margin: 1rem 0;
}

.nopost {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.searchform {
    text-align: center;
}

.searchform input {
    width: 40%;
}

.searchform form button {
    color: white;
    background-color: #4788dd;
    border: 1px solid #4788dd;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    margin: auto 0.2rem;
}

.searchform form * {
    vertical-align: middle;
    height: 35px;
}