h1 {
    text-align: center;
    text-underline-offset: 1px solid;
}

.img-post {
    float: right;
    border-radius: 10px;
}

article {
    margin: 10px 80px;
}

.special {
    color: red;
}

#tag {
    color: white;
    background-color: #4788dd;
    border: 1px solid #4788dd;
    padding: 0.1rem 0.7rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    margin-right: 0.2rem;
}

#tag:hover {
    background-color: #5290e1;
}

.tag a {
    text-decoration: none;
}

.content {
    font-size: 13px;
    width: 80%;
}

.post-form {
    text-align: center;
}

form textarea {
    width: 480px;
    height: 60px;
}

form label {
    font-weight: bold;
    padding-right: 10px;
}

form button {
    color: white;
    background-color: #4788dd;
    border: 1px solid #4788dd;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    margin: auto 0.2rem;
}

form button:hover {
    background-color: #5290e1;
}

#idform {
    padding: 1rem 0 2rem;
    width: 90%;
    margin: 3rem auto;
    background-color: aliceblue;
    border-radius: 6px;
}

form * {
    vertical-align: middle
}

#formh2 {
    text-decoration: underline;
    text-align: center;
    color: #4788dd;
}

.successp {
    text-align: center;
}

#confirmed {
    color: black;
    background-color: aquamarine;
    width: 8%;
    padding: 0.2rem 0.3rem;
    text-align: center;
    border-radius: 10px;
    margin: 25px 12px;
    font-size: small;
}

.profile-photo-sm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 6px;
}

.post-comment {
    display: inline-flex;
    margin: 10px 10px;
    width: 95%;
    background-color: white;
}

.readlater {
    color: black;
    background-color: coral;
    width: 8%;
    padding: 0.2rem 0.3rem;
    text-align: center;
    border-radius: 7px;
    font-size: small;
    cursor: pointer;
}

.readlater:hover {
    background-color: rgb(245, 151, 118);
}