h1 {
    text-align: center;
    text-underline-offset: 1px solid;
}

p {
    width: 80%;
}

.img-post {
    float: right;
    border-radius: 10px;
}

article {
    margin: 10px 80px;
}

.special {
    color: red;
}

#tag {
    background-color: #4788dd;
    color: white;
    padding: 4px 8px;
    margin-right: 3px;
    border-radius: 4px;
}

.tag a {
    text-decoration: none;
}

.content {
    font-size: 13px;
}