{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/page.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/single-post.css' %}">
{% endblock css %}
{% block content %}
    <h1>{{ title|title }}</h1>
    <ul>
        {% comment %} {% for  in  %} {% endcomment %}
        {% include 'blog/includes/post_single.html' %}
        {% comment %} {% endfor %} {% endcomment %}
    </ul>
{% endblock content %}
