{% extends 'base_page.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <link rel='stylesheet', href='{% static 'blog/page.css' %}'>
{% endblock css %}
{% block contact %}
    <h1>{{ title|title }}</h1>
    <div class='div-contact'>
        <b>Phone:</b> <a href="tel:{{ tell }}">{{ tell }}</a>
    </div>
    <div class='div-contact'>
        <b>Email:</b> <a href="mailto:{{ email }}">{{ email }}</a>
    </div>
    <address class='div-contact'>
        <b>Address:</b> {{ address }}
    </address>
    <div class='div-contact'>
        <b>Telegram:</b> <a href="{{ telegram }}">My ID</a>
    </div>
{% endblock contact %}
