{% extends 'base_page.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block css %}
    <link rel='stylesheet', href='{% static 'blog/page.css' %}'>
{% endblock css %}
{% block contact %}
    <h1>{{ title|title }}</h1>
    <div class='div-contact'>
        <b>Phone:</b> <a href="tel:{{ options.phone }}">{{ options.phone }}</a>
    </div>
    <div class='div-contact'>
        <b>Email:</b> <a href="mailto:{{ options.email }}">{{ options.email }}</a>
    </div>
    <address class='div-contact'>
        <b>Address:</b> {{ options.address }}
    </address>
    <div class='div-contact'>
        <b>Telegram:</b> <a href="{{ options.telegram }}">My ID</a>
    </div>
{% endblock contact %}
