{% extends 'base.html' %}
{% load static %}
{% block title %}
    My Blog
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/single-post.css' %}">
{% endblock css %}
{% block content %}
    <h1>Welcome to My Blog</h1>
    <section id='latest_news'>
        <h2>Special Posts</h2>
        <ul>
            {% for post in posts %}
            {% include 'blog/includes/post_single.html' %}
            {% endfor %}
        </ul>
    </section>
    <section id='top_categories'>
        <h2>Top Categories</h2>
        <ul>
            {% for cat in categories %}
            {% include 'blog/includes/cat_single.html' %}
            {% endfor %}
        </ul>
    </section>
{% endblock content %}
