{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href= {% static 'blog/post.css' %}>
{% endblock css %}
{% block content %}
    <article>
        <h1>{{ post.title|title }}</h1>
        {% if post.image == '' %}
            <img class='img-post' src="{% static 'files/mysite.png' %}" alt="{{ post.title }}">
        {% else %}
            <img class='img-post' src="{{ post.image.url }}", alt="{{ post.title }}">
        {% endif %}
        <div>
            <h3>category: {{ category }}</h3>
            {% if post.is_special == True %}
                <h4 class='special'>Special Book</h4>
            {% else %}
                <h4>Normal Book</h4>
            {% endif %}
            <p>
                <b>The Excerpt:</b> {{ post.excerpt }}
        </p>
        <time>
            <b>Created at:</b> {{ post.created_at }}
    </time>
</br>
<time>
    <b>Updated at:</b> {{ post.updated_at }}
</time>
<p>
    {{ post.content|linebreaks }}
</div>
</article>
{% endblock content %}
