{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href= {% static 'blog/post.css' %}>
{% endblock css %}
{% block content %}
    <article>
        <h1>{{ post.title|title }}</h1>
        {% if post.image == '' %}
            <img class='img-post'
                 src="{% static 'files/mysite.png' %}"
                 alt="{{ post.title }}">
        {% else %}
            <img class='img-post' src="{{ post.image.url }}", alt="{{ post.title }}">
        {% endif %}
        <div class='tag'>
            <h3>
                category: <a href="{% url 'cat_page' category.slug %}">{{ post.category }}</a>
            </h3>
            {% if not tags %}
                <h6>There is no tag available for this post</h6>
            {% else %}
                <h4>
                    Tags:
                    {% for tag in tags  %}<a href="{{ tag.get_absolute_url }}"><span id='tag'>{{ tag.title }}</span></a>{% endfor %}
                </h4>
            {% endif %}
            {% if post.is_special == True %}
                <h4 class='special'>Special Book</h4>
            {% else %}
                <h4>Normal Book</h4>
            {% endif %}
            <p>
                <b>The Excerpt:</b> {{ post.excerpt }}
            <form action="{% url 'read-later' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button class='readlater'> -> Read Later</button>
            </form>
        </p>
        <time>
            <b>Created at:</b> {{ post.created_at | date:"M d" }} - {{ post.created_at |time:"H:i" }}
    </time>
</br>
<time>
    <b>Updated at:</b> {{ post.updated_at|date:"SHORT_DATE_FORMAT" }}
</time>
<p class='content'>
    {{ post.content| safe }}
</div>
</article>
<div id='idform'>
    <h2 id='formh2'>
        {% if comments.count > 0 %}
            All  {{ comments.count }} Comment(s)
        {% else %}
            No Comments Available
        {% endif %}
    </h2>
    <form action="{% url 'post_page' post.slug %}"
          method="POST"
          class='post-form'>
        {% csrf_token %}
        {% for field  in comment_form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
        <button>Send Comment</button>
    </form>
    <p class='successp'>
        {{ success }}
    </p>
    {% for cm in comments %}
        <div class='post-comment'>
            <img class="profile-photo-sm"
                 src="{% static 'files/avatar.png' %}"
                 alt="avatar">
            <p>
                <b>{{ cm.user_name | title }} </b>| {{ cm.created_at|date:"Y M d" }} - {{ post.created_at |time:"H:i" }} <span id='confirmed'>Confirmed</span>
                <br>
                {{ cm.body }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock content %}
