{% extends 'base_page.html' %}
{% load static %}
{% block title %}
    {{ title | title }}
{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/page.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/single-post.css' %}">
{% endblock css %}
{% block posts %}
    <h1>{{ title|title }}</h1>
    <div class='searchform'>
        <form action="/search">
            {% csrf_token %}
            <input type="search" name='keyword'>
            <select name="special">
                <option selected="true" disabled="disabled">Special</option>
                {% for item in is_special %}
                <option value="{{item}}">{{item}}</option>
                {% endfor %}
            </select>
            <select name="category">
                <option selected="true" disabled="disabled">Category</option>
                {% for item in categories %}
                <option value="{{item.id}}">{{item.title}}</option>
                {% endfor %}
            </select>
            <button>Search</button>
        </form>
    </div>
    <ul>
        {% for post in posts %}
            {% include 'blog/includes/post_single.html' %}
        {% endfor %}
    </ul>
    {% if posts.has_other_pages %}
        <ul class='pagination'>
            {% if posts.has_previous %}
                <li>
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                <li>
                    <a href="?page={{i}}">{{i}}</a>
                </li>
            {% endfor %}
            {% if posts.has_next %}
                <li>
                    <a href="?page={{ posts.next_page_number }}">next</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock posts %}
