.footer {
    padding: 10px 0 0 0;
    margin: 0;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    background-color: #2a70ca;
    text-align: center;
    /* bottom: 0;
    position: fixed; */
    width: 100%;
    height: 2rem;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
}

.footer a {
    text-decoration: none;
    color: aliceblue;
}

.footer a:hover,
.footer a:active {
    color: cyan;
}