@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500&display=swap');
html {
    font-family: 'Red Hat Mono', monospace;
}

body {
    margin: 0;
}

.img-404 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}